*.com
*.class
*.dll
*.exe
*.o
.lock*
*.vscode
*.code-workspace
*.bak
*.pyc
__pycache__
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db
.nfs*
*.swp

pkg/
bin/
unit-test/generated/*.json
src/a.pcap 